<h1>Sign in</h1>
Choose a service to login or sign up with.
<ul>
  <li><a href="/auth/foursquare">Foursquare</a></li>
  <li><a href="/auth/facebook">Facebook</a></li>
  <li><a href="/auth/twitter">Twitter</a></li>
</ul>
