<h1>Hello <%= @user.name %></h1>
<div id="authorizations">
  You have <%= @user.authorizations.size %> tokens attached
  <ul>
    <% @user.authorizations.each do |auth| %>
      <li><%= auth.provider %></li>
    <% end %>
  </ul>
</div>
