#eventbox img.thumbnail {
	width:180px;
	height:auto;
	max-height:250px;
}

#eventbox img.gcalbtn {
	height: auto;
	width: auto;
	border: none;
	background: transparent;
	float:right;
}

#searchbar {
	width: 590px;
	background: white;
	padding: 10px;
	font-size: 1.05em;
	line-height: 1.75em;
	float: left;
	margin-bottom: 10px;
}

#searchlabel {
	font-size: larger;
}

#eventsearchsubmit {
	vertical-align: text-bottom;
	padding-left: 5px;
}

#searchbox {
	width:400px;
	height:1.6em;
}
