<a href="#" onclick="$(this).load('<%= partial_event_path(event) %>')"><div class="pill" style="background-color: #<%= ["9CC","C9C","CC9"].sample %>">
    <%= truncate(event.title.titleize) %>
</div>
</a>
