<div>
  <!-- <div class="bread-crumbs"><a href="/">Home</a> &raquo; Today</div> -->
<div class="bread-crumb-portfolio">
    View: 
    <a class="selected_bread" href="/events">Tonight</a>
    <a href="/search?q=tag:music">Music</a>
    <a href="/search?q=tag:music">Music</a>
    <a href="/search?q=tag:arts">Art</a>
    <a href="/search?q=tag:theater">Performing Arts</a>
    <a href="/search?q=tag:tech">Tech & Sci</a>
</div>

<br/>

<h1>Today's events</h1>
<%= render 'list' %>

<br />

<%= link_to 'New Event', new_event_path %>
</div>
