
	<div class="bread-crumbs"><a href="/">Home</a> &raquo; Today</div>
	
	<h1><%= @events.size %> events Today</h1>
	
	
	<div class="bread-crumb-portfolio">
		View: 
		<a href="#">Music</a>
		<a href="#">Art</a>
		<a href="#">Food and Drink</a>
		<a href="#">Performing Arts</a>
        <a href="#">Tech & Sci</a>
	</div>
	
	<br/>

<%= render 'list' %>

<br />

<%= link_to 'New Event', new_event_path %>
