<div>
  <!-- <div class="bread-crumbs"><a href="/">Home</a> &raquo; Search</div> -->
<div class="bread-crumb-portfolio">
    View: 
    <a href="/events">Tonight</a>
    <a href="/search?q=tag:music">Music</a>
    <a href="/search?q=tag:music">Music</a>
    <a href="/search?q=tag:arts">Art</a>
    <a href="/search?q=tag:theater">Performing Arts</a>
    <a href="/search?q=tag:tech">Tech & Sci</a>
</div>
	
    <h1>Event Search</h1>

<%= render 'list' %>

<br />

<%= link_to 'Back to Events Today', events_path %>
</div>
