<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Four Thirty-Six | Seattle Events  Four Thirty-Six | Seattle Events &raquo; It&#039;s 4:36pm. Be somewhere awesome by 7.</title>

<meta name="generator" content="WordPress 3.1" /> <!-- leave this for stats -->

<link rel="stylesheet" href="http://fourthirtysix.com/wp-content/themes/arthemia/style.css" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://fourthirtysix.com/feed/" />
<link rel="alternate" type="text/xml" title="RSS .92" href="http://fourthirtysix.com/feed/rss/" />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://fourthirtysix.com/feed/atom/" />

<link rel="pingback" href="http://fourthirtysix.com/xmlrpc.php" />


<link rel="icon" href="http://fourthirtysix.com/wp-content/themes/arthemia/images/favicon.ico" />
<link rel="shortcut icon" href="http://fourthirtysix.com/wp-content/themes/arthemia/images/favicon.ico" />

<meta name='robots' content='noindex,nofollow' /> 
				
<link rel='stylesheet' id='admin-bar-css'  href='http://fourthirtysix.com/wp-includes/css/admin-bar.css?ver=20110122' type='text/css' media='all' /> 
<script type='text/javascript' src='http://fourthirtysix.com/wp-includes/js/l10n.js?ver=20101110'></script> 
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://fourthirtysix.com/xmlrpc.php?rsd" /> 
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fourthirtysix.com/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Four Thirty-Six | Seattle Events' href='http://fourthirtysix.com/' /> 
<meta name="generator" content="WordPress 3.1" /> 
 
<style type="text/css" media="print">#wpadminbar { display:none; }</style> 
<style type="text/css"> 
	html { margin-top: 28px !important; }
	* html body { margin-top: 28px !important; }
</style> 

</head>
<body>

<div id="head" class="clearfloat">

<div class="clearfloat">
	<div id="logo" class="left"><span id="logo-text">
	<a href="http://fourthirtysix.com/">Four:Thirty-Six</a></span> <span id="tagline">It&#039;s 4:36pm. Be somewhere awesome by 7.</span> <form method="get" id="searchform" class="left" action="http://fourthirtysix.com/"> 
<div> 
<input type="text" value="Search the archive..." value="" name="s" id="s" onfocus="this.value=''" title="Enter the terms you wish to search for." /><input type="image" src="http://fourthirtysix.com/wp-content/themes/arthemia/images/magnify.gif" id="searchsubmit" /> 
 
</div> 
</form>	</div>


</div>


</div>

<div id="page" class="clearfloat">	
	
  <!-- TODO: don't do this with the style tag -->
	<div id="middle" style="margin-top: 0" class="clearfloat">
	
	<div id="cat-1" class="category">
				<span class="cat_title"><a href="http://fourthirtysix.com/category/music/">Music</a></span>
		<a href="http://fourthirtysix.com/category/music/"><p>Recommendations on what shows to check out</p> 
</a>
	</div>

	    	
	<div id="cat-2" class="category">
				<span class="cat_title"><a href="http://fourthirtysix.com/category/art/">Art</a></span>
		<a href="http://fourthirtysix.com/category/art/"><p>Stay tuned in on touring artists and the local art scene.</p> 
</a>
	</div>

	    	
	<div id="cat-3" class="category">
				<span class="cat_title"><a href="http://fourthirtysix.com/category/performing-art/">Performing Art</a></span>
		<a href="http://fourthirtysix.com/category/performing-art/"><p>Stop here for previews of Seattle theatre, comedy and dance.</p> 
</a>
	</div>

	    	
	<div id="cat-4" class="category">
				<span class="cat_title"><a href="http://fourthirtysix.com/category/tech-sci/">Tech/Sci</a></span>
		<a href="http://fourthirtysix.com/category/tech-sci/"><p>Geek out at these tech and science related events.</p> 
</a>
	</div>

	    	
	<div id="cat-5" class="category">
				<span class="cat_title"><a href="http://fourthirtysix.com/category/on-the-street/">On the street</a></span>
		<a href="http://fourthirtysix.com/category/on-the-street/"><p>A little bit of everything Seattle has to offer.</p> 
</a>
	</div>

	    	
	</div>

	
	<div id="bottom" class="clearfloat">
		
	<div id="front-list">	
	
	<%= yield %>	
			

	</div>
		

	<div id="sidebar">
  
<div id="sidebar-top"> 
  <div>
    <h3>Some stuff goes here</h3>
    Phasellus auctor quam eu est congue in consequat dui vehicula. Nunc cursus libero a ipsum feugiat nec eleifend mi dignissim. Vivamus vestibulum elit et est faucibus non adipiscing nibh mollis. Sed arcu urna, placerat nec euismod nec, semper eget quam. Morbi consectetur, felis a aliquam orci aliquam.
  </div>
  <div>
    <h3>And more stuff goes here</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna sapien, fringilla a dignissim at, ullamcorper nec mauris. Nulla facilisi. Donec ultricies ipsum id odio luctus ullamcorper metus.
  </div>

</div>




	</div>	

</div>  
 
<div id="front-popular" class="clearfloat"> 
 
<div id="recentpost" class="clearfloat"> 
<h3>Extras</h3>			<div class="textwidget"><p><a href="http://fourthirtysix.com/about/" >About Four:Thirty-Six</a>: Who we are and why we do this.</p> 
<p><a href="http://fourthirtysix.com/contact/" >Contact</a>: Tell us about your event, find out our volunteer opportunities or just tell us how much you love us.</p> 
</div> 
		</div> 		
 
<div id="mostcommented" class="clearfloat"> 
<h3>Most Commented</h3> 
<ul> 	<li><a href="http://fourthirtysix.com/on-the-street/hello-world/" title="Hello world!">Hello world!</a></li> 	  
</ul> 
 
 
</div> 
 
<div id="recent_comments" class="clearfloat"> 
 
<h3>Four:Thirty-Six Social Media</h3>			<div class="textwidget">facebook and twitter here</div> 
		</div> 
</div> 
 
		 Powered by <a href="http://wordpress.org/">WordPress</a> |  <a href="http://fourthirtysix.com/wp-admin/">Site Admin</a> |  <a href="http://fourthirtysix.com/wp-login.php?action=logout&#038;_wpnonce=80f87f5707">Log out</a> | <a href="http://fourthirtysix.com/feed/">Entries (RSS)</a> | <a href="http://fourthirtysix.com/comments/feed/">Comments (RSS)</a> | <a href="http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/" target="_blank">Arthemia</a> theme by <a href="http://michaelhutagalung.com" target="_blank">Michael Hutagalung</a> 
 
</div> 
 
</body> 
</html>
