<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
	<title>Seattle Tonight | What to do Tonight</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/touchstone/jquery.fancybox.js"></script>
	<script type="text/javascript" src="/javascripts/touchstone/custom.js"></script>
	
	<!-- Drop down Menu  JavaScripts -->
	<script type="text/javascript" src="/javascripts/touchstone/hoverIntent.js"></script>
	<script type="text/javascript" src="/javascripts/touchstone/superfish.js"></script>
	<script type="text/javascript" src="/javascripts/touchstone/supersubs.js"></script>
	
	
	<!-- NOTE: Use the ID of your slider in styles below to avoid Flash of Unstyled Content -->
	<style type="text/css">
		#featured { 
		  width: 960px;
		  height: 350px;
		  background: #000 url('images/orbit/loading.gif') no-repeat center center;
		  overflow: hidden; }
		 #featured img,  #featured div { display: none; }
	</style>
	<!--[if IE]>
	<style type="text/css">
		.timer { display: none !important; }
		div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
	</style>
	<![endif]-->
	
		
</head>

<body>
<div id="header-container">
<div id="header-sub-container">
	<div id="header">
		<div class="float-container">
			<h1><a href="index.html">Touchstone - Bringing your Business Online</a></h1>
			<div id="header-contact">
				<div><a href="mailto:contact@progressionstudios.com"><span class="e-mail"><img src="/images/email.png"> E-mail</span></a><span class="phone"> <img src="/images/phone.png"> (555) 555-2121</span></div>
				<a href="contact.html" class="button">Make an Appointment</a>
			</div>
		</div>
		
		<div id="navigation-container">
		<ul class="sf-menu">
			<li>
				<a href="index.html">Home</a>
				<ul>
					<li>
						<a href="index.html">Default Feature Slider</a>
					</li>
					<li>
						<a href="index3d.html">3d Feature Slider</a>
					</li>
					<li>
						<a href="index-nivo.html">Nivo Feature Slider</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="typography.html">Styles</a>
				<ul>
					<li>
						<a href="typography.html">Typography Styles</a>
					</li>
					<li>
						<a href="full-width.html">Full Width Columns</a>
					</li>
					<li>
						<a href="sidebar-left.html">Sidebar Left</a>
					</li>
					<li>
						<a href="sidebar-right.html">Sidebar Right</a>
					</li>
				</ul>
			</li>
			<li class="current">
				<a href="portfolio.html">Portfolio</a>
				<ul>
					<li>
						<a href="one-portfolio.html">One Column Portfolio</a>
					</li>
					<li>
						<a href="two-portfolio.html">Two Column Portfolio</a>
					</li>
					<li>
						<a href="portfolio.html">Three Column Portfolio</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="blog.html">Blog</a>
			</li>
			<li>
				<a href="contact.html">Contact</a>
			</li>	
		</ul>
		
		<div id="search-navigation">
<%= form_tag(search_path, :method => "get") do %>
  <%= text_field_tag(:q, @q || "Search Events...", :id => "searchbox", :onclick => "if(this.value == 'Search Events...') this.value='';", :onblur => "if(this.value.length == 0) this.value= 'Search Events...';") %>
  <input type="image" src="/images/search.gif" id="searchsubmit"  alt="Search" onclick="submit()"/>
<% end %>
		</div><!-- SEARCH END -->
		
		</div><!-- close #navigation-container -->
		<div class="navigation-base"></div>
		
		
	</div> <!-- close #header -->
</div> <!-- close #header-sub-container -->
</div> <!-- close #header-container -->

<div id="content-container">
<div id="content">
	


<%= yield %>
	
	
	<br/><br/>
	<div class="pagination">
		<a href="#" class="selected">1</a>
		<a href="#">2</a>
		<a href="#">&rsaquo;</a>
	</div>
	

	
</div><!-- close #content -->
</div><!-- close #content-container -->


<div id="footer-container">
<div id="footer-sub-container">
	<div id="footer">
		<div class="grid4column">
			<h4>About us</h4>
			<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Cras pulvinar tinci dunt molestie. Vesti bulum eleifend felis eu diam dignis sim vene natis. Phasellus at gravida elit. Integer blandit lacinia dui at dapibus. Cras pulvinar at gravida tincidunt molestie. <a href="#">More &rsaquo;</a></p>
		</div>
		<div class="grid4column">
			<h4>Social networking</h4>
			<ul id="socialnetworking">
				<li class="twitter first"><a href="#">Twitter</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="linkedin"><a href="#">LinkedIn</a></li>
				<li class="flickr"><a href="#">Flickr</a></li>
				<li class="tumblr"><a href="#">Tumblr</a></li>
				<li class="deviantart"><a href="#">DeviantArt</a></li>
				<li class="rss"><a href="#">RSS</a></li>
			</ul>
		</div>
		<div class="grid4column">
			<h4>Contact info</h4>
			<ul class="contact-info">
				<li class="phone">(124) 444-1234</li>
				<li class="e-mail"><a href="mailto:contact@progressionstudios.com">contact@progressionstudios.com</a></li>
				<li class="address">Touchstone Template<br/>
				1080 Financial Street<br/>
				San Francisco, CA 94122</li>
			</ul>
		</div>
		<div class="grid4column lastcolumn">
			<h4>Get in touch</h4>
			<div style="width:218px;height:263px">&nbsp;</div>
		</div>
	</div><!-- #footer -->

<div id="footer-base-container">
	<div id="footer-base">
	<p>Copyright &copy; 2011 Touchstone Template. Designed by <a href="http://themeforest.net/user/ProgressionStudios" target="_blank">Progression Studios</a>.</p>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="typography.html">Styles</a></li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</div>
</div><!-- close #footer-base-container -->

</div><!-- close #footer-sub-container -->
</div><!-- close #footer-container -->


<!-- Drop Down Menu Activation -->
<script> 
    $(document).ready(function(){ 
        $("ul.sf-menu").supersubs({ 
            minWidth:    10,   // minimum width of sub-menus in em units 
            maxWidth:    30,   // maximum width of sub-menus in em units 
            extraWidth:  1     // extra width can ensure lines don't sometimes turn over 
                               // due to slight rounding differences and font-family 
        }).superfish();  // call supersubs first, then superfish, so that subs are 
                         // not display:none when measuring. Call before initialising 
                         // containing tabs for same reason. 
    }); 
</script>
</body>
</html>
